<!doctype html>
<html lang="en">

  {% include head.html %}

  <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    {% include header.html %}

    <main class="mdl-layout__content">
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
        {{ content }}
        </section>
    </main>

    {% include footer.html %}
    </div>
        <script type="text/javascript" src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>

  
  </body>

</html>
